---
import Layout from '../layouts/Layout.astro';
import CharacterCard from '../components/CharacterCard.astro';

import type { CharactersResponse } from '../types/characters';

const response = await fetch('https://dragonball-api.com/api/characters').then(
	async (r) => (await r.json()) as CharactersResponse
);
---

<Layout title="Dragon Ball Z Langing">
	<section class="dbz-card-section">
		{
			response.items.map((character) => (
				<a href={`/character/${character.id}`}>
					<CharacterCard character={character} />
				</a>
			))
		}
	</section>
</Layout>

<style>
	section.dbz-card-section {
		padding: 1.5rem 1rem;

		width: 100%;
		max-width: 100%;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(auto, 320px));

		place-content: center;
		gap: 1rem;

		margin-inline: auto;

		/* @media (min-width: 768px) {
			max-width: 1440px;
		} */
	}
</style>
