---
import Layout from '../layouts/Layout.astro';
import type { CharactersResponse } from '../types/characters';

const characters = await fetch('https://dragonball-api.com/api/characters').then(
	async (r) => (await r.json()) as CharactersResponse
);
---

<Layout title="Dragon Ball Z Langing">
	<section class="grid grid-cols-6 gap-4 px-4 py-6">
		{
			characters.items.map((character) => (
				<article class="dbz-card">
					<img src={character.image} class="mx-auto h-[160px] w-auto object-contain" />
					<h2>{character.name}</h2>
				</article>
			))
		}
	</section>
</Layout>

<style>
	section {
		.dbz-card {
			width: 300px;
			height: 320px;
			max-height: 320px;

			padding: 1.25rem 1rem;

			border-radius: 24px;
			background: #f8f8f2;
		}
	}
</style>
